<div id="foods">
<app-demo [img]="img1" title="Dosa"></app-demo>
<app-demo [img]="img2" title="Idli"></app-demo>
<app-demo [img]="img3" title="DalBati"></app-demo>
<app-demo [img]="img4" title="Parota"></app-demo>
<app-demo [img]="img5" title="Pizza"></app-demo>
<app-demo [img]="img6" title="Dhokla"></app-demo>
<app-demo [img]="img7" title="Sev Khamani"></app-demo>
<app-demo [img]="img8" title="Samosa"></app-demo>
<app-demo [img]="img9" title="Ravva Kesari"></app-demo>
<app-demo [img]="img10" title="Pootharekulu"></app-demo>
<app-demo [img]="img11" title="Payasam"></app-demo>
<app-demo [img]="img12" title="Carror Halwa"></app-demo>
</div>